.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  margin: 0 10px 0 10px;
}

.graph-box {
  height: 620px;
  margin-top: 20px;
}

.table-container {
  display: grid;
  grid-template-columns:
    minmax(0, 1fr) minmax(0, 2fr) minmax(0, 3fr) minmax(0, 4fr)
    minmax(0, 2fr);
  align-items: center;
}

.table-title-row,
.table-row {
  border-bottom: 1px solid lightgray;
  height: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.table-title-row,
.table-header-row {
  font-weight: 600;
}

.table-column-stack {
  gap: 0;
}

.text-red {
  color: red;
}

.text-black {
  color: black;
}
